        <section class="booking">
            <div class="container">
                <form action="/room_listing/Search" class="form" method="POST" enctype="multipart/form-data">
                    <div class="input-group">
                        <label for="destination" class="input-label">Destination</label>
                        <select name="destination" id="destination" class="options">
                            <!--disabled selected-->
                            <option value="" default>Select city</option>
                            <option value="Toronto, ON">Toronto, ON</option>
                            <option value="Montreal, QC">Montreal, QC</option>
                            <option value="Vancouver, BC">Vancouver, BC</option>
                            <option value="Banff, AB">Banff, AB</option>
                            
                        </select>
                    </div>
                    <div class="input-group">
                        <label for="check-in" class="input-label">Check In</label>
                        <input type="text" class="input" id="check-in" placeholder="dd/mm/yyyy">
                    </div>
                    <div class="input-group">
                        <label for="check-out" class="input-label">Check Out</label>
                        <input type="text" class="input" id="check-out" placeholder="dd/mm/yyyy">
                    </div>
                    <div class="input-group">
                        <label for="adults" class="input-label">Adults</label>
                        <input type="text" class="input" id="adults">
                    </div>
                    <div class="input-group">
                        <label for="children" class="input-label">Children</label>
                        <input type="text" class="input" id="children">
                    </div>
                    <button type="submit" id="destButton" value="find" class="btn form-btn btn-gradient">Search
                    </button>
                </form>
            </div>
        </section>