        <section class="booking">
            <div class="container">
                <form action="" class="form">
                    <div class="input-group">
                        <label for="destination" class="input-label">Destination</label>
                        <select name="destination" id="destination" class="options">
                            <!--disabled selected-->
                            <option value="" default>Select city</option>
                            <option value="">Toronto</option>
                            <option value="">Montreal</option>
                            <option value="">Vancouver</option>
                            <option value="">Calgary</option>
                            
                        </select>
                    </div>
                    <div class="input-group">
                        <label for="check-in" class="input-label">Check In</label>
                        <input type="date" class="input" id="check-in">
                    </div>
                    <div class="input-group">
                        <label for="check-out" class="input-label">Check Out</label>
                        <input type="date" class="input" id="check-out">
                    </div>
                    <div class="input-group">
                        <label for="adults" class="input-label">Adults</label>
                        <input type="text" class="input" id="adults">
                    </div>
                    <div class="input-group">
                        <label for="children" class="input-label">Children</label>
                        <input type="text" class="input" id="children">
                    </div>
                    <button type="submit" class="btn form-btn btn-gradient">Search
                    </button>
                </form>
            </div>
        </section>