 <header class="header">
        <div class="container">
            <nav class="nav">
                <a href="/" class="logo">
                    <img src="./images/logosml-removebg-preview.png" alt="">
                </a>
                <div class="hamburger-menu">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/owner_upload" class="nav-link">Add listing</a>
                    </li>
                    <li class="nav-item">
                        <!-- <a href="#" class="nav-link sign-up">Sign up</a> -->
                        <button class="modal-btn" onclick="document.getElementById('id02').style.display='block'">Sign up</button>
                    </li>
                    <li class="nav-item">
                        <!-- <a href="#" class="nav-link login">Login</a> -->
                        <button class="modal-btn" onclick="document.getElementById('id01').style.display='block'">Login</button>
                    </li>
                </ul>
                
            </nav>

    {{> login}}
    {{> signup}}

        </div>
    </header>