 <header class="header">
        <div class="container">
            <nav class="nav">
                <a href="/" class="logo">
                    <img src="/images/logosml-removebg-preview.png" alt="">
                </a>
                <div class="hamburger-menu">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                     {{#if isAdmin}}

                    <li class="nav-item">
                        <a href="/admindashboard" class="nav-link">Dashboard</a>
                    </li>
                        Welcome {{username}}! | <a href="/logout">Log out</a>

                        {{else if username}}
                        Welcome {{username}}! | <a href="/logout">Log out</a>
                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link">Dashboard</a>
                    </li>
                    
                    {{else}}
                    <li class="nav-item">
                        <a href="/signup" class="nav-link sign-up">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="nav-link login">Login</a>
                    </li>
                    {{/if}}
                </ul>
                
            </nav>

        </div>
    </header>