             <!--Modal login-->
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'"
      class="close" title="Close Modal">&times;</span>
      
        <!-- Modal Content -->
      <form action="/login" class="needs-validation modal-content animate" method="POST" enctype="multipart/form-data" novalidate>
        <div class="container">
          <div class="form-row align-items-center justify-content-center">
            <div class="col-md-4 mb-3">
              <label for="validationCustom01"><b>Username</b></label>
              <input type="text" class="form-control username" id="validationCustom01" placeholder="Enter email" name="email" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please enter your email.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationCustom02"><b>Password</b></label>
              <input type="password" class="form-control password" id="validationCustom02" placeholder="Enter Password" name="psw" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please enter your password.
              </div>
            </div>
              
              <div class="col-md-2 mb-2">
              
                  <button class="modal-btn" type="submit">Login</button>
                
                  </div>
             
    
    
 
             </div>
            </div>
        
              <div class="container" style="background-color:#f1f1f1">
              <button type="button" onclick="document.getElementById('id01').style.display='none'" class="modal-btn cancelbtn">Cancel</button>
              <span class="psw">Forgot <a href="#">password?</a></span>
            
          </div>
        </form>
      </div>

      <script src="../javascript/login.js"></script>